
<!doctype html><html class="no-js " lang="en">
<head>
    <title>Adult Cams, Live Cam Girls &amp; Free Webcam Chat | iFriends</title>
<meta name="description" content="iFriends is one of the most popular adult cam sites in the world! Browse thousands of live cam girls and guys who offer free webcam chat and private cam shows.">
<meta name="keywords" content="iFriends,adult cams,free webcam,live cam girls,private cam shows">
<meta name="msvalidate.01" content="6D09F472582FE9FF91CF705C1BCE9884" />
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://www.ifriends.net",
      "logo": "http://images.ifriends.net/if_v2/wwee/ifriendsv2/css/cssgraphics/logos/logo.png"
    }
</script>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script>
var onReady = [];
</script>


<meta name="swww.childkey" content="childkey.red"/>
<link rel="meta" href="http://www.ifriends.net/ifpage.dll?t=icra_labels_required_for_parental_control_tools" type="application/rdf+xml" title="ICRA labels" />
<meta http-equiv="pics-Label" content='(pics-1.1 "http://www.icra.org/pics/vocabularyv03/" l r (n 2 s 2 v 0 l 2 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 2))' />
<link rel="shortcut icon" href="http://images.ifriends.net/if_v2/wwee/iFriendsV2/favicon/favicon.ico" type="image/x-icon" />

<link rel="canonical" href="http://www.ifriends.net"/>
	 <!--includee:site/includes/data/stdHTMLheader_JavascriptErrorLogger.htm-->
<!-- REMOVED FROM THIS FILE AND ADDED TO THE iftMPLWRAPERIIS.DLL --><link rel="stylesheet" href="http://images.ifriends.net/if_cdn/frameworks/foundation-6/ifriends/dist/assets/css/app.ver1483983066898dev.css" />
<link href='http://fonts.googleapis.com/css?family=Roboto:300,900' rel='stylesheet' type='text/css'/>


    <style>
        #live-cam-girls a {margin-bottom:.5rem;display:block;}
        aside .callout {width:200px;}
    </style>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" />
</head>
<body class="has-aside">
  {{> header}} 
    <div id="middle">
        <main>
            <div id="page-title" class="row column has-menu-icon">
                <div class="content" style="border:none;">
                    <div class="title"><h1 class="collapse-top-for-medium">Live Cam Girls <small class="show-for-medium">&nbsp;&nbsp;Meet the sexiest <a href="http://www.ifriends.net/userurl_membrg2/livehosts/all-cam-girls/live-now/">cam girls</a> on iFriends, every single one live right now on her webcam!</small></h1></div>


						<button class="float-right menu-icon dots show-for-small-only" data-toggle="feature-dropdown-menu"><i></i></button>
							<a class="float-right menu-icon show-for-small-only"  data-url-updater="p_ckname_livebrowse=list">
								<i class="icon-v2 icon-mobilelistviewoff"></i>
							</a>
                </div>
            </div>
            <div id="feature-dropdown-menu" class="collapse dropdown-pane full" data-dropdown data-v-offset="-41">

                <ul class="menu gray vertical grid" id="live-browse-categories">
                    <li class="header has-menu-icon">
                        <div class="float-left normal">

							<b>Categories</b>
								<span class="pipe-divider"> | </span>
								<a href="javascript:void(0);" onclick="$('#live-browse-categories').hide();$('#filter-attribute-list').show();"><b>Filters</b></a>
                        </div>
                                                <div class="float-right menu-icon-close"><a href="#" data-close><i class="icon-v2 icon-problem-small"></i></a></div>
                                            </li>
					<li class="menu-text">Featured Webcams</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/hot/all-cam-girls/live-now/">
Babe
							<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/pornstar/live-now/">
Pornstar
							<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/college-girls/live-now/">
College
							<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/fresh-faces/live-now/">
Fresh Faces
							<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/award-winners/live-now/">
Award Winners
							<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/free2goprivate/live-now/">
Free Sex Chat
							<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/transgender/live-now/">Transgender<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
					</li>
					<li class="menu-text">Adult Webcams</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/all-cam-girls/live-now/">All Cam Girls<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/anal/all-cam-girls/live-now/">Anal<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/asian/all-cam-girls/live-now/">Asian<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/bbw/all-cam-girls/live-now/">BBW<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/fetishists/live-now/">BDSM/Fetish<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/big-tits/all-cam-girls/live-now/">Big Tits<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/blonde/all-cam-girls/live-now/">Blonde<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/brunette/all-cam-girls/live-now/">Brunette<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/ages-41-50/all-cam-girls/live-now/">Cougar<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/couples/live-now/">Couples & Groups<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/black/all-cam-girls/live-now/">Ebony<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
	<a href="http://www.ifriends.net/userurl_membrg2/livehosts/gays/live-now/">Guys</a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/latin/all-cam-girls/live-now/">Latina<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/mature/all-cam-girls/live-now/">Mature<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/milf/all-cam-girls/live-now/">MILF<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/redhead/all-cam-girls/live-now/">Red Head<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/small-tits/all-cam-girls/live-now/">Small Tits<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/teens-18-19/all-cam-girls/live-now/">Teen (18+)<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
					<li class="menu-text">Gay Cams</li>
<li class="menuitem no-icon">
    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/all-guys/live-now/">All<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
	<a href="http://www.ifriends.net/userurl_membrg2/livehosts/guys/live-now/">Straight<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
<li class="menuitem no-icon">
	<a href="http://www.ifriends.net/userurl_membrg2/livehosts/gays/live-now/">Gay<i class="float-right icon-v2 icon-mobilenavnext-small"></i></a>
</li>
                </ul>

				<ul id="filter-attribute-list" class="menu gray vertical grid" style="display:none;">
                    <li class="header has-menu-icon">
                        <div class="float-left normal">

							<a  href="javascript:void(0);" onclick="$('#filter-attribute-list').hide();$('#live-browse-categories').show();"><b>Categories</b></a>
								<span class="pipe-divider"> | </span>
								<b>Filters</b>
                        </div>
                                                <div class="float-right menu-icon-close"><a href="#" data-close><i class="icon-v2 icon-problem-small"></i></a></div>
                                            </li>
					<li class="menu-text">Age</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/teens-18-19/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">18-19 <span class="list-num-live">(2)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/ages-20-25/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">20-25 <span class="list-num-live">(37)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/ages-26-30/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">26-30 <span class="list-num-live">(24)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/ages-31-40/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">31-40 <span class="list-num-live">(17)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/ages-41-50/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">41-50 <span class="list-num-live">(6)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/mature/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Mature <span class="list-num-live">(1)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li class="menu-text">Build</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/curvy/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Curvy <span class="list-num-live">(30)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/thin/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Slender <span class="list-num-live">(22)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/petite/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Petite <span class="list-num-live">(19)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/muscular/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Muscular <span class="list-num-live">(10)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/healthy/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Healthy <span class="list-num-live">(3)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/bbw/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">BBW <span class="list-num-live">(2)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li class="menu-text">Bust</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/big-tits/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Large <span class="list-num-live">(32)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/medium-tits/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Medium <span class="list-num-live">(40)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/small-tits/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Small <span class="list-num-live">(15)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li class="menu-text">Ethnicity</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/white/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0"> White <span class="list-num-live">(61)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/latin/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0"> Hispanic <span class="list-num-live">(14)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/asian/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0"> Asian <span class="list-num-live">(5)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/black/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0"> Black <span class="list-num-live">(3)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/multiracial/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0"> Multiracial <span class="list-num-live">(2)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/arabic/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0"> Arabic <span class="list-num-live">(1)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li class="menu-text">Eyes</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/brown-eyed/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Brown <span class="list-num-live">(38)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/blue-eyed/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Blue <span class="list-num-live">(24)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/green-eyed/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Green <span class="list-num-live">(8)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/dark-eyed/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Black <span class="list-num-live">(7)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/hazel-eyed/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Hazel <span class="list-num-live">(4)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li class="menu-text">Hair</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/brunette/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Brunette <span class="list-num-live">(45)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/blonde/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Blonde <span class="list-num-live">(28)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/redhead/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Red <span class="list-num-live">(7)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li class="menu-text">Height</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/average-height/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Average <span class="list-num-live">(43)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/short/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Short <span class="list-num-live">(7)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/tall/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Tall <span class="list-num-live">(29)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/very-tall/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Very Tall <span class="list-num-live">(2)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li class="menu-text">Special Options</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/hairy/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Hairy <span class="list-num-live">(10)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/Pierced/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Pierced <span class="list-num-live">(5)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/Shaved/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Shaved <span class="list-num-live">(52)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
					<li>
						<a href="http://www.ifriends.net/userurl_membrg2/livehosts/Tattooed/all-cam-girls/live-now/?pcache=yes&pf_vchcontentflagsbitmap1=0">Tattoos <span class="list-num-live">(13)</span>
						<i class="float-right icon-v2 icon-mobilenavnext-small"></i>
						</a>
					</li>
				</ul>



            </div>

            <div id="main-content" class="row column collapse-top-for-medium">	            	
              {{{body}}}
            </div>
    
        </main>
        <aside class="show-for-large" style="border:none;">
            <!--START: BIRTHDAY-->
            <div class="callout small plain text-center ">
                <p><a href="http://www.ifriends.net/membrg/twrp.dll?pappcode=twrp_modelbirthdays&psource=hp_body_birthday"><b>Birthdays</b></a></p>
                                                        <div class="profile-image-module">
                        <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=NAMIDA&psource=hp_body_birthday&pireqfeedshowextendedoptions=hp_body_birthday" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                            <img src="http://barchives.ifriends.net/image/NAMIDA/Profile_U_R12.jpg?1738783554" HEIGHT="105" WIDTH="140" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(obj,{'gender' : 'female'});})(this));;">
                                                        <label>
                                NAMIDA
                            </label>
                        </a>
                    </div>
                                                </div>
            <!--END: BIRTHDAY-->

            <!--START: FRESH FACES-->
				<div class="callout small plain" >
					<header>
                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/live-now/fresh-faces/?psource=hp_body_ff"><b>Fresh Faces</b></a>
						<div id="FFCycle" class="cycle-nav right" data-target="#if-home-freshFaces-wrap">

						</div>
					</header>
					<div id="if-home-freshFaces-wrap">
                        <div class="single-item">
                            <div>
                                                                                                                                <div class="profile-image-module">
                                    <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=BELLARICCHI&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                <img src="http://barchives.ifriends.net/image/BELLARICCHI/Profile_U_R.jpg?1864725487" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                <label>
                                            											<div class="ellipsis">BELLARICCHI</div></label>
                                    </a>
                                </div>

                                                                                                
                                                                                                                                                                <div class="profile-image-module">
                                    <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=BRITNEYOPEN&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                <img src="http://barchives.ifriends.net/image/BRITNEYOPEN/Profile_U_R.jpg?1855049363" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                <label>
                                            											<div class="ellipsis">BRITNEYOPEN</div></label>
                                    </a>
                                </div>

                                                                                                
                                                                                                                                                                <div class="profile-image-module">
                                    <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=BOOBSIEBARBARA&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                <img src="http://barchives.ifriends.net/image/BOOBSIEBARBARA/Profile_U_R.jpg?1837408783" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                <label>
                                            											<div class="ellipsis">BOOBSIEBARBARA</div></label>
                                    </a>
                                </div>

                                                                                                
                                                                                                                                                                <div class="profile-image-module">
                                    <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=BLACKSARAH&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                        <i title="iFriends Viewer Award Winner" class="icon-v2 icon-awardwinner-small  float top left"></i>

                                                                                                                        <img src="http://barchives.ifriends.net/image/BLACKSARAH/Profile_U_R.jpg?1849948413" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                <label>
                                            											<div class="ellipsis">BLACKSARAH</div></label>
                                    </a>
                                </div>

                                                                                                
                                                                                                                                                                                                                                                                                                
                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                
                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                
                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                
                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                
                                                                
                                                                                                                            </div>
						    
						    						    						    						    <div>
						    						    							    						    							    						    							    						    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=CAROLINEMISS&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/CAROLINEMISS/Profile_U_R.jpg?1839935273" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">CAROLINEMISS</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=DELIGHTLIPS&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/DELIGHTLIPS/Profile_U_R.jpg?1865195076" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">DELIGHT_LIPS</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=KARINAOPEN&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/KARINAOPEN/Profile_U_R.jpg?1847413918" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">KARINAOPEN</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=ROXANNEXLIVE&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/ROXANNEXLIVE/Profile_U_R.jpg?1845989050" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">ROXANNEXLIVE</div></label>
                                            </a>
                                        </div>
									    										    											    												    
												    </div>
												    												    <div>
											    										    									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=LUISASHOW&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/LUISASHOW/Profile_U_R.jpg?1844552158" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">LUISASHOW</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=SEXYMELINDA&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/SEXYMELINDA/Profile_U_R.jpg?1846132783" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">SEXYMELINDA</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=TIFFANYLIVVE&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/TIFFANYLIVVE/Profile_U_R.jpg?1841216374" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">TIFFANYLIVVE</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=CLAUDIAHOOT&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/CLAUDIAHOOT/Profile_U_R.jpg?1847414536" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">CLAUDIAHOOT</div></label>
                                            </a>
                                        </div>
									    										    											    												    
												    </div>
												    												    <div>
											    										    									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=ERIKACOUGAR&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/ERIKACOUGAR/Profile_U_R.jpg?1834546284" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">ERIKACOUGAR</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=SUZANNEROSSA&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/SUZANNEROSSA/Profile_U_R.jpg?1835168099" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">SUZANNEROSSA</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=TESSFLOWER&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/TESSFLOWER/Profile_U_R.jpg?1835017511" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">TESSFLOWER</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=SWEETTIGHTLIPS&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                <i class="icon-v2 icon-awardwinner-small  float top left" title="iFriends Viewer Award Winner" alt="iFriends Viewer Award Winner"></i>

                                                                                                                                                <img src="http://barchives.ifriends.net/image/SWEETTIGHTLIPS/Profile_U_R.jpg?1864723427" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">SWEETTIGHTLIPS</div></label>
                                            </a>
                                        </div>
									    										    											    												    
												    </div>
												    												    <div>
											    										    									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=KELLYXSTAR&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/KELLYXSTAR/Profile_U_R.jpg?1836454043" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">KELLYXSTAR</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=LEILASEXY&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/LEILASEXY/Profile_U_R.jpg?1862813154" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">LEILASEXY</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=ALEXANDRAROBER&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                                                                <img src="http://barchives.ifriends.net/image/ALEXANDRAROBER/Profile_U_R.jpg?1864869744" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">ALEXANDRAROBERTS</div></label>
                                            </a>
                                        </div>
									    								    							    						    							    								                                            <div class="profile-image-module">
                                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=AFFORDABLELOVE&psource=hp_body_ff&pireqfeedshowextendedoptions=hp_body_ff" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                                                                                                <i class="icon-v2 icon-awardwinner-small  float top left" title="iFriends Viewer Award Winner" alt="iFriends Viewer Award Winner"></i>

                                                                                                                                                <img src="http://barchives.ifriends.net/image/AFFORDABLELOVE/Profile_U_R.jpg?1864720350" BORDER="0" data-profile-image="female" onerror="onReady.push((function(obj){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})(this));">
                                                                                                <label>
                                                                                                        <div class="ellipsis">AFFORDABLELOVE</div></label>
                                            </a>
                                        </div>
									    										    											    										    									    								    							    						    							    								    							    						    						    						    </div>
						                            </div>
					</div>
				</div>

            <!--END: FRESH FACES-->

            <!--START: TOP PERFORMERS LIVE-->
            <div class="callout small plain text-center">
                <header>
                    <a href="http://www.ifriends.net/userurl_membrg/award-winners"><b>Top Performers</b></a>
                </header>
                <div class="content">
                                                                <div class="profile-image-module">
                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=CHEATER-WIFE&psource=hp_body_topperf&pireqfeedshowextendedoptions=hp_body_topperf" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                <i title="Most Videochat Revenue" class="icon-v2 icon-topchat  float top left"></i>

                                                                <img src="http://barchives.ifriends.net/image/CHEATER-WIFE/Profile_U_R.jpg?1825636500" BORDER="0" data-profile-image="female" onerror="onReady.push(function(){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})">
                                                                <label>
                                    CHEATER-WIFE
                                </label>
                            </a>
                        </div>
                                                                                    <div class="profile-image-module">
                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=BLONDEANGEL_4U2&psource=hp_body_topperf&pireqfeedshowextendedoptions=hp_body_topperf" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                <i title="Most Videochat Revenue" class="icon-v2 icon-topchat  float top left"></i>

                                                                <img src="http://barchives.ifriends.net/image/BLONDEANGEL_4U2/Profile_U_R.jpg?1853617082" BORDER="0" data-profile-image="female" onerror="onReady.push(function(){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})">
                                                                <label>
                                    BLONDEANGEL_4U2
                                </label>
                            </a>
                        </div>
                                                                                    <div class="profile-image-module">
                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=CHEATER-WIFE&psource=hp_body_topperf&pireqfeedshowextendedoptions=hp_body_topperf" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                <i title="Most Videochat Revenue" class="icon-v2 icon-topchat  float top left"></i>

                                                                <img src="http://barchives.ifriends.net/image/CHEATER-WIFE/Profile_U_R.jpg?1825636500" BORDER="0" data-profile-image="female" onerror="onReady.push(function(){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})">
                                                                <label>
                                    CHEATER-WIFE
                                </label>
                            </a>
                        </div>
                                                                                    <div class="profile-image-module">
                            <a href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=___NICOLE___&psource=hp_body_topperf&pireqfeedshowextendedoptions=hp_body_topperf" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                                                                <i title="Most Videochat Revenue" class="icon-v2 icon-topchat  float top left"></i>

                                                                <img src="http://barchives.ifriends.net/image/___NICOLE___/Profile_U_R.jpg?1835970607" BORDER="0" data-profile-image="female" onerror="onReady.push(function(){Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});})">
                                                                <label>
                                    NICOLE DEVLIN
                                </label>
                            </a>
                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div><a href="http://www.ifriends.net/userurl_membrg/award-winners?pselected=current">Current Standings</a></div>
                </div>
            </div>
            <!--END: TOP PERFORMERS LIVE-->

            <!--START: IFRIENDS WALL-->
            <div class="callout small plain">
                <header class="text-center">
                    <a href="http://www.ifriends.net/membrg/twrp.dll?pappcode=twrp_activityfeed" class="pseudoLink"><b>Activity Feed</b></a>
                </header>
                <div class="content">
                                                                                                                            <a id="anch_1" class="no-style" href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=CHEATER-WIFE&psource=hp_body_ifwall&pireqfeedshowextendedoptions=hp_body_ifwall" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                        <div class="media-object small flush">
                            <div class="media-object-section">
                                <IMG class="float-left" SRC="http://barchives.ifriends.net/image/CHEATER-WIFE/Profile_U_R12.jpg?1825636500" width="50" height="38" border="0" onerror="Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});">
                            </div>
                            <div class="media-object-section">
                                                                                                <small class="primary-color" title="See CHEATER-WIFE Live!">CHEATER-WIF...</small><br>
                                                                <small>
                                                                        1 minute ago
                                                                    </small>
                            </div>
                        </div>
                                                                        <small class="break-word">mmm were are you :P cme play with me</small>
                                            </a>
                                        <hr class="small"/>
                                                                                                                                                                    <a id="anch_2" class="no-style" href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=BOOBSIEBARBARA&psource=hp_body_ifwall&pireqfeedshowextendedoptions=hp_body_ifwall" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                        <div class="media-object small flush">
                            <div class="media-object-section">
                                <IMG class="float-left" SRC="http://barchives.ifriends.net/image/BOOBSIEBARBARA/Profile_U_R12.jpg?1837408783" width="50" height="38" border="0" onerror="Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});">
                            </div>
                            <div class="media-object-section">
                                                                                                <small class="primary-color" title="See BOOBSIEBARBARA Live!">BOOBSIEBARB...</small><br>
                                                                <small>
                                                                                                                                                10 minutes
                                                                        ago
                                                                                                        </small>
                            </div>
                        </div>
                                                                        <small class="break-word">pls rate me and let me a nice comm!!!!if u like me!!!</small>
                                            </a>
                                        <hr class="small"/>
                                                                                                                                                                    <a id="anch_3" class="no-style" href="http://www.ifriends.net/membrg/ireqfeed_v2_custom.dll?pclub=SEXY-BOOTY69&psource=hp_body_ifwall&pireqfeedshowextendedoptions=hp_body_ifwall" data-extra-args="pdisplaycontext=modal"  data-reveal-custom data-protocol="iframe">
                        <div class="media-object small flush">
                            <div class="media-object-section">
                                <IMG class="float-left" SRC="http://barchives.ifriends.net/image/SEXY-BOOTY69/Profile_U_R12.jpg?1748241511" width="50" height="38" border="0" onerror="Webpower.global.swapUnavailableProfileImage(this,{'gender' : 'female'});">
                            </div>
                            <div class="media-object-section">
                                                                                                <small class="primary-color" title="See SEXY-BOOTY69 Live!">SEXY-BOOTY6...</small><br>
                                                                <small>
                                                                                                                                                33 minutes
                                                                        ago
                                                                                                        </small>
                            </div>
                        </div>
                                                                        <small class="break-word">Kiss me..Lick me..Spank me..Fuck me....ooohhh yesssss</small>
                                            </a>
                                                                                                                                                                                                                                        </div>
            </div>
            <!--END: IFRIENDS WALL-->
        </aside>
    </div>

    			<footer class="text-center">
                <div id="footer-extra-links" class="row columns hide-for-large p">
                    <div class="text-header">NEED HELP?</div>
                    			<a id="if-liveSupport" class=""  href="javascript: var e = window.open('https://livesupport.ifriends.net/SightMaxAgentInterface/PreChatSurvey.aspx?accountID=1&siteID=2&queueID=7&skinName=iFriends&skipSurvey=yes&ChatName=CAITEST3#http://www.ifriends.net/','chatWindow','width=500,height=404,resizable=no,scrollbars=yes,menubar=no,status=no');" >Live Chat Support</a> |
                    <A TITLE="Provide your detailed feedback about this page directly to the development, design and management team" HREF="http://www.ifriends.net/ifpage.dll?t=tools/feedback/main&pID=0&pAppCode=Home&pHost_ComputerName=US2FIL493-ESERVER1-275&pTemplateName=metawrap.htm" >Help Us Improve This Feature</A>
                </div>
				<div id="footer-first" class="row" data-equalizer data-equalize-by-row="true">
					<div class="large-4 medium-12 columns"  data-equalizer-watch>
                        <div class="text-header">BECOME A WEBCAM MODEL</div>
                        Earn up to <b>100%</b> commissions and get paid weekly as an iFriends <a href="http://www.ifriends.net/ifpage.dll?t=site/chathostsonly/general/chathostintro">webcam model</a>.<br><br>
                                                <div class="text-header" style="margin-top:0px;">AFFILIATE PROGRAM</div>
                        <a href="http://www.clickcash.com" rel="nofollow">Earn up to <b>$200</b></a> per
                        signup or up to <b>35%</b> lifetime revshare.
                                                <br><br>

                        					</div>
					<div class="large-2 medium-4 columns p"  data-equalizer-watch>
                        <div class="footer-section">
                            <div class="text-header">ABOUT US</div>
                            <div class="link-parent">
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/about" title="About iFriends">About iFriends</a><br>
                                <a href="http://www.ifriends.net/userurl_membrg/blog">Blog</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/sitemap">Site Map</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/employment">Careers</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/toystore">iFriends Store</a><br>
                            </div>
                        </div>
					</div>
					<div  class="large-3 medium-4 columns p"  data-equalizer-watch>
                        <div class="footer-section">
                            <div class="text-header">MEMBERS</div>
                            <div class="link-parent">
                                			<a id="if-liveSupport" class=""  href="javascript: var e = window.open('https://livesupport.ifriends.net/SightMaxAgentInterface/PreChatSurvey.aspx?accountID=1&siteID=2&queueID=7&skinName=iFriends&skipSurvey=yes&ChatName=CAITEST3#http://www.ifriends.net/','chatWindow','width=500,height=404,resizable=no,scrollbars=yes,menubar=no,status=no');" >Live Chat Support</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/faq/faq">FAQ</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/customerservice/contacts">Contact Us</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/customerservice/memserv">Customer Service</a><br>
                                <!--<span class=InHouse> &lt;BEGIN var:gInhouse&gt;                                -->
                                <a href="http://www.ifriends.net/userurl_/referral">Refer a Friend</a><br>
                                <!--&lt;END var:gInhouse&gt; </span>-->
                            </div>
                        </div>
					</div>
					<div class="large-3 medium-4 columns end p"  data-equalizer-watch>
                        <div class="footer-section">
                            <div class="text-header">MODELS</div>
                            <div class="link-parent">
                                			<a id="if-liveSupport" class=""  href="javascript: var e = window.open('https://livesupport.ifriends.net/SightMaxAgentInterface/PreChatSurvey.aspx?accountID=1&siteID=2&queueID=7&skinName=iFriends&skipSurvey=yes&ChatName=CAITEST3#http://www.ifriends.net/','chatWindow','width=500,height=404,resizable=no,scrollbars=yes,menubar=no,status=no');" >Live Chat Support</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/faq/faq">FAQ</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/chathostsonly/general/controlcenter/contrib&pclub=CAITEST3">Model Control Center</a><br>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/chathostsonly/general/pagetools/pagetools&pclub=CAITEST3">Promote Yourself</a><br>
                                <a href="http://www.ifriends.net/membrG/paHome_v2_custom.dll?t=site/ChathostsOnly/IDcards/Manager/PAHome/main&pClub=CAITEST3">18+ ID Card Manager</a><br>
                            </div>
                        </div>
					</div>
				</div>
				<div class="row">
					<div id="footer-icon-links" class="large-12 columns text-center p">

                                                        <script type="application/ld+json">
                                {
                                "@context" : "http://schema.org",
                                "@type" : "Organization",
                                "name" : "iFriends",
                                "url": "http://www.ifriends.net",
                                "sameAs" : [
                                "https://twitter.com/ifriends/",
                                "https://www.facebook.com/ifriends.net",
                                "https://instagram.com/ifriendslivecams/"
                                ]
                                }
                            </script>
                                                        <a class="icon-v2 icon-twitter-large" target="_blank" href="https://twitter.com/ifriends/"></a>
                            <a class="icon-v2 icon-facebook-large" target="_blank" href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2FiFriends.net&refsrc=http%3A%2F%2Fwww.ifriends.net%2F&_rdr"></a>
                            <a class="icon-v2 icon-tumblr-large" target="_blank" href="http://ifriendslive.tumblr.com"></a>

					</div>
					<div id="back-to-top-parent" class="large-12 columns text-center">
						<a id="back-to-top" href="javascript:void(0);" onclick="$('html, body').animate({scrollTop:0}, 'fast');"><i class="icon-v2 icon-backtotopnew"></i></a>
					</div>
				</div>
				<div id="footer-secondary">
					<div class="row text-center">
						<div class="large-12 columns p">
                            <p>This service is for consenting adults only. All content is published independently by its users and must comply with its <a href="http://www.ifriends.net/ifpage.dll?t=site/general/legal/rules">Code of Conduct</a>.</p>
                            <div>
                                	&copy; 1998 &ndash; <span id="displayYear" class="gs-NavLinksFooter">2017</span> WebPower, Inc. All Rights Reserved.
 <span class="show-for-large">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                <p class="hide-for-large"></p>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/legal/privacy">Privacy Policy</a> <span class="show-for-medium">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><div class="p hide-for-medium"></div>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/copyright">Legal Notices</a> <span class="show-for-medium">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><div class="p hide-for-medium"></div>
                                <a href="http://www.ifriends.net/ifpage.dll?t=alt/182257/general/cert-compliance">18 U.S.C. 2257</a> <span class="show-for-medium">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><div class="p hide-for-medium"></div>
                                <a href="http://www.ifriends.net/ifpage.dll?t=site/general/customerservice/cancel/cancel">Cancel</a>

                                 <span class="show-for-medium">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><div class="p hide-for-medium"></div><a href="#" rel="nofollow" onclick="Cookies.set('BETA', '0', {domain: '.ifriends.net'});window.location.href=window.location.href;return false;">Use Classic Layout</a>
                                 <span class="show-for-medium">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><div class="p hide-for-medium"></div><a href="#" data-reveal-custom="/ifpage.dll?t=site/general/tour" data-protocol="iframe" data-extra-args="pdisplaycontext=modal">Take Tour</a>

                            </div>
						</div>
						<div class="large-12 columns p">
							<i class="icon-v2 icon-privacypractices"></i>
							<i class="icon-v2 icon-parentalcontrols"></i>
						</div>
						<p style="font-size: 9px; color: #403f3f;" >LESERVER1 (344)</p>
					</div>
				</div>
			</footer>
                                    			<style type="text/css">
				#VCHLivePopup { position:fixed;z-index:21;bottom:-172px;right:0px;width:334px;height:163px;display:none;  background-color:white; }
				#VCHLivePopup.infobox {border: 1px solid #333;}
				.infobox-header { margin:0px; background-color: #333; color:white; font-size:13px; position:relative; padding: 5px; font-weight: normal;}
				.infobox-content { position:relative;}
				.infobox-header a {position:absolute;right:4px;top:4px;color:white; font-weight: bold;}
				.infobox .search-box-profile {width:120px;height:90px;}
			</style>
			<div id="VCHLivePopup" class="infobox">
				<div class="infobox-header gs-arial13"><b></b> is now online!<a href="javascript:void(0);" onclick="$('#VCHLivePopup').hide();" class="gs-arial15">X </a></div>
				<div class="infobox-content">
					<table cellpadding="0" cellspacing="0" class="gs-arial13">
						<tr valign="top">
							<td class="search-box-image-parent">
								<a href="http://www.ifriends.net/membrg/showclub_v2_custom.dll?pclub=&psource=vchslideup"><img class="search-box-profile" src="http://images.ifriends.net/if_v2/Ifriends/lang1/generic_unisex12.jpg?1748241511" border="0"></a>
								<i class="icon-v2 icon-livecam" style="position:absolute;z-index:10;top:14px;left:137px"></i>
							</td>
							<td class="search-box-options-parent">
								<div style="height:74px;font-size:14px;"><i>"I just logged in!<br>Let's meet in videochat."</i><div style="text-align:right;margin-top:5px">- </div></div>
								<a class="button short flush expanded"  href="http://www.ifriends.net/membrg/showclub_v2_custom.dll?pclub=&psource=vchslideup"><span>Enter Now</span></a>
								<center>
								<a class="gs-arial11" href="javascript:void(0);" onclick="$('#VCHLivePopup').hide();">Dismiss</a>
								</center>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<script type="text/javascript">
			</script>
                        		</div>
	</div>
</div>    <img id="imgSetIReqFeed4CC" src="https://secure.ifriends.net/membrg/lw_gotourl.dll?pmode=iReqFeed4CC&pVCH=" width="1" height="1" style="display:none;">
<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<script src="http://images.ifriends.net/if_cdn/frameworks/foundation-6/ifriends/dist/assets/js/app.ver1483983066898dev.js"></script>
<input type="hidden" id="LiveNotificationsEnabled" />
	
{{#debugTable}}{{/debugTable}}
<script src="/js/bundle.js"></script>
</body>
</html>
