  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="off-canvas" data-off-canvas data-auto-focus="false">


			<div id="HotMenu">

				<div id="HotMenuListParent" style="position:relative;overflow: hidden;padding-right: 1px;">
					<ul class="menu gray vertical grid">
						<li class="menu-text primary"><h3 class="flush">Hot Menu</h3></li>
						<li>
							<div style="padding:0px 10px;">
								<div class="form-field" style="margin: 10px auto;position:relative;">
									<form action="/membrg/msearch_v2_custom.dll" method="get" class="float parent">
										<input type="hidden" name="precordpagesize" value="30">
										<input type="hidden" name="pf_media_1" value="Star">

										<input class="search-box flush" placeholder=" Search Webcam Models" type="text" name="pkey">
										<button type="submit" class="input-icon small"><i class="icon-v2 icon-search-small"></i></button>
									</form>
								</div>
							</div>
						</li>
						<li><a class="icon-link" href="http://www.ifriends.net/userurl_membrg2/livehosts/hot/all-cam-girls/live-now/"><span class="icon-parent-medium"><i class="icon-v2 icon-livecam-medium"></i></span> Live Models<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/userurl_membrg2/livehosts/live-show-replays/?pf_vchcontentflagsbitmap1=0"><span class="icon-parent-medium"><i class="icon-v2 icon-replay-medium"></i></span> Replays<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/userurl_membrg/hd-plus/"><span class="icon-parent-medium"><i class="icon-v2 icon-hdplus-medium"></i></span> HD Plus<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/userurl_membrg/archive/videos/"><span class="icon-parent-medium"><i class="icon-v2 icon-media-medium"></i></span> Videos &amp; Photos<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/membrg/fchome_v2_custom.dll"><span class="icon-parent-medium"><i class="icon-v2 icon-fanclub-medium"></i></span> FanClubs<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/membrg2/livehosts_getcloser.dll?pf_vchpdsex=female"><span class="icon-parent-medium"><i class="icon-v2 icon-getcloser-medium"></i></span> Phone Sex<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/userurl_membrg/award-winners/"><span class="icon-parent-medium"><i class="icon-v2 icon-awardwinner-medium"></i></span> Award Winners<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/membrg/twrp.dll?pappcode=twrp_activityfeed"><span class="icon-parent-medium"><i class="icon-v2 icon-activityfeed-medium"></i></span> Activity Feed<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/membrg/twrp.dll?pappcode=twrp_modelbirthdays"><span class="icon-parent-medium"><i class="icon-v2 icon-birthday-medium"></i></span> Birthdays<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="http://www.ifriends.net/userurl_membrg/blog"><span class="icon-parent-medium"><i class="icon-v2 icon-blog-medium"></i></span> Blog<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" data-dropdown-custom='share-dialog' data-css="small padded" data-title="Share us"><span class="icon-parent-medium"><i class="icon-v2 icon-share-small"></i></span> Share<i style="margin-top:4px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
						<li><a class="icon-link" href="JavaScript:void(0);" onClick="window.open('https://livesupport.ifriends.net/SightMaxAgentInterface/PreChatSurvey.aspx?accountID=1&siteID=2&queueID=7&skinName=iFriends&skipSurvey=yes&ChatName=CAITEST3','chatWindow','width=500,height=404,resizable=no,scrollbars=yes,menubar=no,status=no');"><span class="icon-parent-medium"><i class="icon-v2 icon-livesupport-small"></i></span> Live Chat Support<i style="margin-top:2px;" class="float-right icon-v2 icon-mobilenavnext-small"></i></a></li>
					</ul>
				</div>
			</div>
			<div id="share-dialog" class="hide">
				Share us on your favorite social networks.
					<br><br><a target="_blank" data-share-url=""  href="javascript:void(0);" onclick="window.open('https://twitter.com/intent/tweet?text='+encodeURIComponent(document.title)+'&url=' + ($(this).attr('data-share-url') != '' ? encodeURIComponent($(this).attr('data-share-url').trim()+'&via=ifriends'+'&related=clickcashcom') : encodeURIComponent(location.href )+'&via=ifriends'+'&related=clickcashcom'),'');" data-via="iFriends" title="Tweet this"><i class="icon-v2 icon-twitter-large"></i> Twitter</a></li>
					<br><br><a target="_blank" data-share-url=""  href="javascript:void(0);" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + ($(this).attr('data-share-url') != '' ? encodeURIComponent($(this).attr('data-share-url').trim()) : encodeURIComponent(location.href )),'');return false;" title="Share on Facebook"><i class="icon-v2 icon-facebook-large"></i> Facebook</a></li>
					<br><br><a target="_blank" data-share-url="" href="javascript:void(0);" onclick="window.open('https://plus.google.com/share?url=' + ($(this).attr('data-share-url') != '' ? encodeURIComponent($(this).attr('data-share-url').trim()) : encodeURIComponent(location.href )),'');return false;"  title="Share on Google+"><i class="icon-v2 icon-googleplus-large"></i> Google+</a></li>
					<br><br><a data-share-url="" href="javascript:void(0);" onclick="window.open('mailto:?subject='+document.title+' &amp;body=Check out - ' + ( $(this).attr('data-share-url') != '' ? encodeURIComponent($(this).attr('data-share-url').trim()) : encodeURIComponent(location.href  ) ),'');"><i class="icon-v2 icon-email-large"></i> Email</a></li>
				</ul>
			</div>
			<div id="search-bar-parent" class="menu-slide" style="display:none;">
				<div class="form-field" style="margin: 10px; position:relative; width: auto;">
				<a class="icon-search-float" style="padding: 0px;top: 5px;position: absolute;right: 7px;" href="javascript:void(0);"><i class="icon-v2 icon-search-small"></i></a>
				<input class="search-box" placeholder=" Search Webcam Models" type="text" name="pkey"></div>
			</div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="show-for-medium"><!--<span class=InHouse> &lt;BEGIN var:gInhouse&gt;-->

<style type="text/css">
	.showHideInhouseTools
	{
		position:absolute;
		padding:0;
		margin:0;
		top:3px;
		left:3px;
		width:81px;
		height:19px;
		background-image:url(http://images.iFriends.net/if_v2/clickcash/inhouseToolsBck.png);
		background-repeat:no-repeat;
		font:10px arial;
		padding-top:3px;
	}
	.showHideInhouseTools a
	{
		margin-left:17px;
		text-decoration:none;
		color:#003366;
	}
	.showHideInhouseTools a:hover
	{
		color:#0099FF;
	}
	#header
	{
		text-align: center;
		font-family:Arial;
	    font-size:21px;
		font-weight:bold;
		margin-bottom: 3px;
	}
	.inhouseHeaderText
	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:9px;
	}
	.center
	{
		margin:auto;
		text-align:center;
	}
	.redText
	{
		color:#FF0000;
	}
</style>

<!--[if lt IE 7]>
	<style type="text/css">
		<!--
		.showHideInhouseTools {

			background-image: none;
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://images.iFriends.net/if_v2/clickcash/inhouseToolsBck.png');

		}
		-->
	</style>
<![endif]-->

<div class="showHideInhouseTools">
	<a href="javascript:void(0);" title="Inhouse-only feature: Show or Hide the header tools." onclick="exShowHide(this);">Show Tools</a>
</div>



<script type="text/javascript" language="javascript">
	function exShowHide(el)
	{
		$('#inhouselinks').toggle();
		el.firstChild.data == "Show Tools" ? el.firstChild.data = "Hide Tools" : el.firstChild.data = "Show Tools";
	}
</script>


<div id="inhouselinks" style="display:none;" class="cc-subText2">
	<script type="text/javascript">

		String.prototype.appendOrReplaceURLParameter = function(cURLParamToReplaceOrAppend , cNewValue){
			var regExpURLParam = new RegExp("(\\?|&)"+cURLParamToReplaceOrAppend +"=[a-zA-Z0-9_\-]*" , "gi");
			var cURLString = this;
			var cNamedAnchor = '';
			if(cURLString.lastIndexOf("#") > -1){
				cNamedAnchor = cURLString.substr(cURLString.lastIndexOf("#"), cURLString.length)
				cURLString = cURLString.substr(0,cURLString.lastIndexOf("#"));
			}
			var cFoundString = cURLString.match(regExpURLParam)
			if(cFoundString != null){
				cURLString= cURLString.replace(cURLString.match(regExpURLParam) , cFoundString.toString().substr(0,1) + cURLParamToReplaceOrAppend + '=' + cNewValue)+cNamedAnchor
			}else{
				cURLString= cURLString+ (cURLString.match(/\?/) ? '&' : '?' ) + cURLParamToReplaceOrAppend +'=' + cNewValue+cNamedAnchor
			}
			return cURLString;
		}


		function appendUrlNameValue(cKey, cValue){
			var cLocation = window.location.href;
			for(var i=0;i<arguments.length;i+=2){
				cLocation = cLocation.appendOrReplaceURLParameter(arguments[i] , arguments[i+1]);
			}
			window.location.href = cLocation;
		}
	</script>

	<!--BEGIN NO TRANSLATE-->

	<div id="header">
			R&D Working Platform (IF2FileServer1)
	</div>

	<div class="inhouseHeaderText center">

        gHost_ComputerName:  IF2FILESERVER1

                    <font color=blue>
            Who owns this work? (from PR table) ==&gt;
                                    Dev: FredyN |
                                                    HTML Author:  PhilM |
                                            </font color>

        	</div>

<!--<span class=InHouse> &lt;BEGIN var:gInhouse&gt;-->
	<div align="center" class="inhouseHeaderText">
			<span class="gs-arial11">Settings:</span> <b>Cache</b>: [
					<span class="redText">Enabled</span>
			] <b>Reload</b>: [
						<span style="color: #00FF00;">Enabled</span> (<span class="redText">&reload=template required</span>)			]
	</div>
<!--&lt;END var:gInhouse&gt; </span>-->

    <div id="showDesignInsights" class="center">
	<span class="gs-arial11 redText">Design Insights: </span>
    <span class="gs-SiteFooter">
    	<a href="javascript: disableEnableStyleSheet();" id="DEStyleSheets">Disable all stylesheets</a> |
        <a href="javascript: listImages();" id="listImages">List images</a> |
        <a href="javascript: listLinks();" id="listLinks">List links</a> |
        <a href="javascript: showLinks();" id="showLinks">Show links</a> |
        <a href="javascript: generalStats();" id="generalStats">General Stats</a> |
        <a href="javascript: formInfo();" id="formInfo">Form Info</a> |
        <a href="javascript: dependencies();" id="dependencies">Dependencies</a>
    </span>
</div>
<div id="showValidationLinks" class="center">
	<span class="gs-arial11 redText">Validators: </span>
    <span class="gs-SiteFooter">
    	<a href="javascript: validateHTML('W3', true)">W3.org HTML Validator</a> |
        <a href="javascript: validateHTML('WDG', true)">WDG HTML Validator</a> |
        <a href="javascript: validateHTML('Validome', true)">Validome HTML Validator</a> |
        <a id="link_speedReport" href="http://www.websiteoptimization.com/services/analyze/wso.php?url=" target="_blank" style="font-family: arial; font-size: 9px;">Speed Report</a>  |
        <a href="http://www.w3schools.com/browsers/browsers_stats.asp" target="_blank">Browser Statistics</a>
    </span>
</div>
<script language="javascript">
	currPage4SpeedReport = window.location.toString().replace(/ifriendsv2\.com/gi,'ifriendsv2.net');
	currPage4SpeedReport = escape(currPage4SpeedReport)
	document.getElementById("link_speedReport").href += currPage4SpeedReport;
</script><!--<span class=InHouse> &lt;BEGIN var:gInhouse&gt;-->

	<!--BEGIN NO TRANSLATE -->

	<div id="IHT_otherLinks" class="gs-arial9 center">
		<span id="InHouse"></span>
		<div style=" z-index: 1; top: 0px; position: relative;">
			<span class="redText gs-arial11">Other: </span>
			<A HREF="http://www.ifriends.net/ifpage.dll?t=inhouse_instructional\productionenvironment_makingchanges.htm">Making Changes in V2</A> |
			<A id="viewDocumentation" href="javascript: populateStdDynamicInfoBox('viewDocumentation', 'http://www.ifriends.net/ifpage.dll?t=site/includes/data/viewDocumentation&pTemplatePath=&DEVTICKETID=&pAppCode=Home', 400,'', '', '');">View Docs</A><a href="http://www.ifriends.net/ifpage.dll?t=inhouse_tools/opentemplate/opentemplate&pfilename=s:/cgitemplates/english/site/includes/data/textpadopenfile.htm" target="_NEW" title="Open the template associated with the content adjacent to this icon (Textpad users only)"><img src="http://images.ifriends.net/if_v2/textPadIcon.gif" width="16" height="16" border="0"></a> |<textarea id="headerTValue" style="display: none;"></textarea>
            <a title="Configure V1-to-V2 URL mapping (for bookmark redirection and similar" href="http://www.ifriends.net/ifpage.dll?t=inhouse_tools/spwrapper/urlredir/landingpage&pappcode=Home&ptemplatename=metawrap.htm" style="font-family: arial; font-size: 9px;" target="_NEW"><img src="http://images.ifriends.net/if_v2/fanclubs/edit_wrench.gif" width="10" height="11" border="0"> v1 Redirect</a> |
            <a style="font-family: arial; font-size: 9px;" target="_blank" href="http://www.ifriends.net/ifpage.dll?t=inhouse_tools/testscenarios/main">Test Scenarios</a> |
            <a style="font-family: arial; font-size: 9px;" onclick="appendUrlNameValue('pInHouseOverride','Yes'); return false;" href="javascript: void(0);">Disable Inhouse</a> |
            <a style="font-family: arial; font-size: 9px;"  title="View all New or Changed templates pushed to the staging server." href="http://www.ifriends.net/membrg/twrp.dll?pappcode=twrp_modifiedtemplates&t=inhouse_tools/modifiedtemplates/main">NCT Tool</a> |
            <a style="font-family: arial; font-size: 9px;"  href="javascript:void(0);" onclick="resizePromoElements();alert(document.getElementById('GroupedNewLayout').offsetHeight);return false;">Resize Promo Elements Test</a> |


    	</div>
	</div>
    <div id="IHT_openLinks" class="gs-arial9 center">
        <span class="redText gs-arial11 ">Open:</span>
        <a  title="Open the template associated with the content adjacent to this icon.  (Textpad users only)" href="http://localhost:3000/openfile?t=s:/cgitemplates/English/metawrap.htm" target="_NEW">
            <img src="http://images.ifriends.net/if_v2/textPadIcon.gif" style="margin-right: 5px; " width="16" height="16" border="0" align="absmiddle">Template (English)
        </a>

        &nbsp;
        <A  onclick="appendUrlNameValue('reload','template'); return false;" href="javascript: void(0);">Refresh</A>
        &nbsp;
        <a title="Open the directory associated with the content." href="http://www.ifriends.net/ifpage.dll?t=inhouse_tools/opendirectory/opendirectory&pfilename=s:/cgitemplates/English/metawrap.htm" target="_NEW">
            <img src="http://images.ifriends.net/if_v2/folderIcon.jpg"  style="margin-right: 5px; " width="16" height="14" border="0" align="absmiddle">Folder (English)
        </a>

                                &nbsp;&nbsp;|&nbsp;
            <select style="font-family: arial; font-size: 9px;" onChange="changeSiteCodeValue(this, 'iFriendsV2')">
                <option value="-1">Redisplay w/ diff. SiteCode</option>
                <option value="allAmateur">All Amateur</option>
                <option value="perfectBoobs2">Perfect Boobs</option>
                <option value="taylorsDormRoom2">Taylors Dorm Room</option>
                <option value="iFriendsV2">iFriendsV2</option>
                <option value="carnalCoeds">Carnal Coeds</option>
                <option value="nastyNymphos">Nasty Nymphos</option>
                <option value="wickedWomen">Wicked Women</option>
                <option value="hometownHotties">Hometown Hotties</option>
                <option value="amateurAsians">Amateur Asians</option>
                <option value="blackTail">Black Tail</option>
                <option value="retroRaunch">Retro Raunch</option>
                <option value="glamourBabes">Glamour Babes</option>
                <option value="viewAll">View All (in 12 diff. panes)</option>
            </select>

            <script language="javascript">
                function changeSiteCodeValue(selSiteCode, cPsiteCode) {
                    if (selSiteCode.value == "viewAll") {
                        var siteCodes = new Array();

                        for (i = 1; i < selSiteCode.options.length-1; i++) {
                            siteCodes[i-1] = selSiteCode.options[i].value;
                        }

                        var nameLen = siteCodes.length;
                        var cLocation = window.location.toString();
                        startCLocation = cLocation.replace('pSiteCode=', "oldPsiteCode=");

                        for (i=0; i<nameLen; i++) {
                            cLocation = startCLocation+"&pSiteCode="+siteCodes[i];
                            window.open(cLocation);
                        }
                    } else {
                        var cLocation = window.location.toString();
                        var regxPclub = new RegExp("pSiteCode="+cPsiteCode,"gi");
                        cLocation = cLocation.replace(regxPclub,"pSiteCode="+selSiteCode.value);

                        if (cLocation.indexOf("pSiteCode=") == -1) {
                            cLocation += "&pSiteCode="+selSiteCode.value;
                        }

                        window.location = cLocation;
                    }
                }
            </script>
                            &nbsp;&nbsp;|&nbsp;
                <img src="http://images.ifriends.net/if_v2/ffIcon.gif" width="16" height="15" border="0"> <a href="javascript: viewInFF();" id="viewInFF" style="font-family: arial; font-size: 9px;">View in FireFox</a>
            </div>

<script language="javascript">
	var pTargetFileName = "";
	var slashLocation = pTargetFileName.indexOf("/");
	var periodLocation = pTargetFileName.indexOf(".");

	appCode = pTargetFileName.substring(slashLocation+1, periodLocation);
	appCode = appCode.toLowerCase();
	if (appCode.indexOf("membrg/") > -1) {
		appCode = appCode.replace(/membrg/i, "");
		appCode = appCode.replace("/", "");
	}

	var discussionBoardPath = "http://65.212.89.104/alsentrypoint.asp?forum=";
	var templateName=".htm";
	var templateNameLen = templateName.length;
	var lastSlashPos = -1

	for (i=templateNameLen; i > 0; i--) {
		checkChar = templateName.charAt(i);
		if (checkChar == "/") {
			lastSlashPos = i+1;
			i = 0;
		}
	}

	document.getElementById("viewDocumentation").href = "javascript: populateStdDynamicInfoBox('viewDocumentation', '/ifpage.dll?t=site/includes/data/viewDocumentation&pTemplatePath="+document.getElementById('headerTValue').value+"&pTemplateFileName="+templateName.substring(lastSlashPos, templateNameLen)+"&DEVTICKETID=&pAppCode=Home', 400,'', '', '')"
</script>
<script language="javascript">
	function viewInFF() {
		var thisLocation = escape(window.location)

		alert("Reminder: If the page you visit includes the 'Adjust Font Size' feature, review the page at all font sizes\r\n\n If you notice that long URLs are breaking the layout in FF then try using the <wbr> tag");
		window.open("http://www.ifriends.net/ifpage.dll?t=Inhouse_tools/openInFF/openInFF&pFileName="+thisLocation);
	}
</script>

<!--END NO TRANSLATE-->

<!--&lt;END var:gInhouse&gt; </span>-->	<HR>

</div>
<!--&lt;END var:gInhouse&gt; </span>-->


</div>




            <header>
                <div class="row tight hide-for-medium" style="padding-top:.5rem;padding-bottom:.5rem;">
                	<table class="no-border tight flush">
                		<tr>
                			<td class="collapse" >
                				<div style="width:59px;">
                					<a href="#" data-toggle="off-canvas" class="menu-icon-primary " style="margin-right:5px;"></a>
                					<a data-toggle="search-bar" ><i class="icon-v2 icon-mobilesearch"></i></a>
                				</div>
                			</td>
                			<td class="collapse text-center" style="width:100%;">
                				<a href="http://www.ifriends.net" ><img  style="width:133px;" src="http://images.ifriends.net/if_v2/wwee/ifriendsv2/css/cssgraphics/logos/logo.png" /></a>
                			</td>
                			<td  class="collapse text-right" >
                				<div style="width:50px;">
								<a href="http://www.ifriends.net/ifpage.dll?t=site/chathostsonly/general/controlcenter/contrib&pclub=CAITEST3" ><i class="icon-v2 icon-mobileme"></i></a>
								</div>
                			</td>
                		</tr>
                	</table>


                </div>
				<div id="search-bar" data-toggler=".hide" class="row column hide-for-medium hide">
					<div class="p tight">
						<form action="/membrg/msearch_v2_custom.dll" method="get" class="float parent">
							<input type="hidden" name="precordpagesize" value="30">
							<input type="hidden" name="pf_media_1" value="Star">

							<input class="search-box flush" placeholder=" Search Webcam Models" type="text" name="pkey">
							<button type="submit" class="input-icon small"><i class="icon-v2 icon-search-small"></i></button>
						</form>
					</div>
				</div>

				<script>
				onReady.push(function(){
					$('#search-bar').on('off.zf.toggler', function(){
						$(this).find('input[type="text"]').focus();
					});
				});
				</script>
                <div class="row show-for-medium">
                    <div class="column medium-4 large-3" style="padding-top: 1.3rem;">
                        <!--<a href="/"><i class="logo"></i></a>-->
                        <a href="http://www.ifriends.net" class="show-for-large"><img class="no-resize " src="http://images.ifriends.net/if_v2/wwee/ifriendsv2/css/cssgraphics/logos/logo.png" /></a>
                        <a href="http://www.ifriends.net" class="hide-for-large"><img style="width:157px;" class="no-resize " src="http://images.ifriends.net/if_v2/wwee/ifriendsv2/css/cssgraphics/logos/logo.png" /></a>
                    </div>
                    <div class="column medium-8 large-9 collapse-left">
                        <div class="row">
                            <div class="column float parent collapse-left">
                                <ul class="dropdown menu simple separator clear-line-height vertical-align-text-bottom show-for-large" style="right:1rem;top:.1rem;position:absolute;font-size:11px;white-space:nowrap;">
                                    <li><a id="ViewerNews" href="http://www.ifriends.net/userurl_membrg/blog"><i class="icon-v2 icon-blog flush"></i></a>
                                    <li class="menu-parent"><a class="icon-link toplink text-muted" aria-haspopup="true" data-toggle="share-dropdown-"><i class="icon-v2 icon-share-mini "></i>Share</a>
<div id="share-dropdown-" data-dropdown class="dropdown-pane" data-hover="true" data-hover-pane="true">
	<div class="row small-up-2">
		<div class="column text-center"><a class="icon-link share-this" data-share-url="" href="javascript:void(0);" onclick="window.open('https://twitter.com/intent/tweet?text='+encodeURIComponent(document.title)+'&url=' + ($(this).attr('data-share-url') != '' ? encodeURIComponent($(this).attr('data-share-url').trim()+'&via=ifriends'+'&related=clickcashcom') : encodeURIComponent(location.href )+'&via=ifriends'+'&related=clickcashcom'),'');" data-via="iFriends" title="Tweet this"><i class="icon-v2 icon-twitter-large" style="margin:3px 0px;"></i><br>Twitter</a></div>
		<div class="column text-center"><a class="icon-link share-this" data-share-url="" href="javascript:void(0);" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + ($(this).attr('data-share-url') != '' ? encodeURIComponent($(this).attr('data-share-url').trim()) : encodeURIComponent(location.href )),'');return false;" title="Share on Facebook"><i class="icon-v2 icon-facebook-large" style="margin:3px 0px;"></i><br>Facebook</a></div>
		<div class="column text-center"><a class="icon-link share-this" data-share-url="" href="javascript:void(0);" onclick="window.open('https://plus.google.com/share?url=' + ($(this).attr('data-share-url') != '' ? encodeURIComponent($(this).attr('data-share-url').trim()) : encodeURIComponent(location.href )),'');return false;"  title="Share on Google+"><i class="icon-v2 icon-googleplus-large" style="margin:3px 0px;"></i><br>Google+</a></div>
		<div class="column text-center"><a class="icon-link share-this" data-share-url="" href="javascript:void(0);" onclick="window.open('mailto:?subject='+document.title+' &amp;body=Check out - ' + ($(this).attr('data-share-url') != '' ? encodeURIComponent($(this).attr('data-share-url').trim()) : encodeURIComponent(location.href )),'');" title="Share by Email"><i class="icon-v2 icon-email-large" style="margin:9px 0px 7px 0;"></i><br>Email</a></div>
	</div>
</div>
                                    <li>			<a id="if-liveSupport" class=""  href="javascript: var e = window.open('https://livesupport.ifriends.net/SightMaxAgentInterface/PreChatSurvey.aspx?accountID=1&siteID=2&queueID=7&skinName=iFriends&skipSurvey=yes&ChatName=CAITEST3#http://www.ifriends.net/','chatWindow','width=500,height=404,resizable=no,scrollbars=yes,menubar=no,status=no');" ><img class="no-resize ls-graphic ls-small flush" border=0 src="http://images.ifriends.net/if_v2/livesupport/model_small.jpg" alt="Get live model support from iFriends"></a>                                    <li><A class="icon-link " id="anchHelpUsImproveThisFeature_1" TITLE="Provide your detailed feedback about this page directly to the development, design and management team" HREF="http://www.ifriends.net/ifpage.dll?t=tools/feedback/main&pID=0&pAppCode=Home&pHost_ComputerName=US2FIL493-ESERVER1-275&pTemplateName=metawrap.htm" style="text-decoration: none"><i class="icon-v2 icon-huitfoff-mini"></i><span class="text-muted">Help Us Improve This Feature</span></A>
                                </ul>
                                                                <div id="login-info-parent" class="float-right logged-in" >
                                    <div class="p tight-for-medium-only">
                                        <span style="vertical-align:middle;">Hi, <b>CAITEST3</b>!</span>
                                                                                <span style="vertical-align:middle;">(<A HREF="http://www.ifriends.net/membrg/iflogout.dll?pclub=CAITEST3" title="Log out of your iFriends Account"><span>Log out</span></A>)</span>
                                                                            </div>

                                    <div class="callout xtight-height adjust-for-medium">

                                    										<ul id="if-headerItems" class="dropdown menu simple separator clear-line-height adjust-for-medium ">
											<li>
													<A class="icon-link" HREF="http://www.ifriends.net/membrg/isignin_v2_custom.dll?pclub=CAITEST3&f_ckname_rdo_sessionstreamformat=easycam&f_ckname_rdo_sessionaudience=adult" title="Start Hosting a Live VideoChat Session."><i class="icon-v2 icon-startsession-small"></i><span><span class="show-for-large">Start </span>Session</span></A>
											</li>
											<li>
												<a class="icon-link" href="http://www.ifriends.net/membrg/iexstats_v2_custom.dll?t=site/chathostsonly/reports/iexstats/main&pclub=CAITEST3" title="View your account activity."><i class="icon-v2 icon-stats-small" style="margin-top: -3px;"></i><span><span class="show-for-large">My </span>Stats</span></A>
											</li>
											<li>
												<a class="icon-link" href="https://secure.ifriends.net/membrg/fanclubsettings_custom.dll?t=site/fanclubs/dressingroom/settingstoupdate/main&pformtype=updateddaily&pstyle=home&pclub=CAITEST3" title="Review/Modify your FanClub"><i class="icon-v2 icon-fanclub-small"></i><span><span class="show-for-large">My </span>FanClub</span></A>
											</li>
											<li class="last noicon">
												<a class="icon-link" href="http://www.ifriends.net/ifpage.dll?t=site/chathostsonly/general/controlcenter/contrib&pclub=CAITEST3" id="anchChathostConsole" title ="Click Here to Manage your Account"><i class="icon-v2 icon-accountsettings-small"></i><span><span class="show-for-large">Model </span>Control Center</span></A>
											</li>
										</ul>
                                                                        </div>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>

            </header>
            <nav class="show-for-medium">
    <div class="row">
        <div class="columns">
        <ul id="navbar-main" class="dropdown menu flex nowrap tight-sides" data-dropdown-menu>
                        <li>
                <a class="no-icon" href="http://www.ifriends.net/userurl_membrg2/livehosts/all-cam-girls/live-now/" ><i class="icon-v2 icon-navdropdownoff"></i><b>Live Cams</b></a>
                <ul class="menu clearfix" style="width:600px;background-color:transparent;border:none;">
                    <li style="padding-top:.2rem;">
                        <div class="callout collapse">
                            <i class="icon-v2 icon-modulearrowgray" style="position: absolute;top: -9px;left: 50px;"></i>
                            <div class="row tight">
                                <div class="column medium-3" >
                                    <div class="callout transparent no-border" style="padding-right:0px;">
                                        <p class="tight text-muted">FEATURED</p>
                                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/anal/all-cam-girls/live-now/">Anal</a><br>
                                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/hot/all-cam-girls/live-now/">Babe</a><br>
                                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/pornstar/live-now/">Pornstar</a><br>
                                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/college-girls/live-now/">College</a><br>
                                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/fresh-faces/live-now/">Fresh Faces</a><br>
                                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/award-winners/live-now/">Award Winners</a><br>
                                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/free2goprivate/live-now/">Free Sex Chat</a><br>
                                        <a href="http://www.ifriends.net/userurl_membrg2/livehosts/transgender/live-now/">Transgender</a><br>
                                    </div>
                                </div>
                                <div class="column medium-9" >
                                    <div class="callout plain no-border flush border left">
                                        <p class="tight text-muted">CATEGORIES</p>
                                        <div class="row tight">
                                            <div class="medium-4 column">
                                                <div class="livecam-menu-links">
                                                    <div class="text-muted">Age:</div>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/teens-18-19/all-cam-girls/live-now/">Teen 18+</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/20-25/all-cam-girls/live-now/">20-25</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/26-30/all-cam-girls/live-now/">26-30</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/milf/all-cam-girls/live-now/">MILF</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/cougar/all-cam-girls/live-now/">Cougar</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/mature/all-cam-girls/live-now/">Mature</a><br>
                                                </div>

                                                <div class="livecam-menu-links" style="margin-top:-10px">
                                                    <br><div class="text-muted">Build:</div>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/curvy/all-cam-girls/live-now/">Curvy</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/slender/all-cam-girls/live-now/">Slender</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/petite/all-cam-girls/live-now/">Petite</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/muscular/all-cam-girls/live-now/">Muscular</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/bbw/all-cam-girls/live-now/">BBW</a><br>
                                                </div>
                                            </div>
                                            <div class="medium-4 column">
                                                <div class="livecam-menu-links">
                                                    <div class="text-muted">Bust:</div>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/big-tits/all-cam-girls/live-now/">Big Tits</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/small-tits/all-cam-girls/live-now/">Small Tits</a><br>
                                                </div>
                                                <div class="livecam-menu-links" style="margin-top:-10px">
                                                    <br><div class="text-muted">Ethnicity:</div>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/white/all-cam-girls/live-now/">White</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/hispanic/all-cam-girls/live-now/">Latina</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/asian/all-cam-girls/live-now/">Asian</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/black/all-cam-girls/live-now/">Ebony</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/arabic/all-cam-girls/live-now/">Arabic</a><br>
                                                </div>
                                                <div class="livecam-menu-links" style="margin-top:-10px">
                                                    <br><div class="text-muted">Appearance:</div>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/hairy/all-cam-girls/live-now/">Hairy</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/pierced/all-cam-girls/live-now/">Pierced</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/shaved/all-cam-girls/live-now/">Shaved</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/tattooed/all-cam-girls/live-now/">Tattoos</a><br>
                                                </div>
                                            </div>
                                            <div class="medium-4 column">
                                                <div class="livecam-menu-links">
                                                    <div class="text-muted">Room:</div>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/all-cam-girls/live-now/">Girls</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/gays/live-now/">Guys</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/fetishists/live-now/">BDSM/Fetish</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/couples/live-now/">Couples & Groups</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/transgender/live-now/">Transgender</a><br>
                                                </div>
                                                <div class="livecam-menu-links" style="margin-top:-10px">
                                                    <br><div class="text-muted">Hair Color:</div>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/brunette/all-cam-girls/live-now/">Brunette</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/blonde/all-cam-girls/live-now/">Blonde</a><br>
                                                    <a href="http://www.ifriends.net/userurl_membrg2/livehosts/redhead/all-cam-girls/live-now/">Redhead</a><br>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

            </li>
                        <li><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/fresh-faces/live-now/">New</a></li>
            <li><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/hot/all-cam-girls/live-now/">Babe</a></li>
            <li><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/free2goprivate/live-now/">Free</a></li>
            <li><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/all-cam-girls/live-now/">All Girls</a></li>
            <li class="show-for-large"><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/big-tits/all-cam-girls/live-now/">Big Tits</a></li>
            <li class="show-for-large"><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/milf/all-cam-girls/live-now/">MILF</a></li>
            <li class="show-for-large"><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/transgender/live-now/">Transgender</a></li>
            <li class="show-for-large"><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/mature/all-cam-girls/live-now/">Mature</a></li>
            <li class="show-for-large"><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/bbw/all-cam-girls/live-now/">BBW</a></li>
            <li class="show-for-large"><a  href="http://www.ifriends.net/userurl_membrg2/livehosts/all-guys/live-now/">Guys</a></li>
                        <li id="hot-menu-nav">
                <a class="no-icon" href="http://www.ifriends.net/ifpage.dll?t=site/navigation/hotmenu/main"><i class="icon-v2 icon-navdropdownoff"></i>Hot Menu</a>
                <ul class="menu align-right" style="width:450px;background-color:transparent;border:none;">
                    <li style="padding-top:.2rem;">
                        <div class="callout plain tight">
                            <i class="icon-v2 icon-modulearrow" style="position: absolute;top: -9px;right: 50px;"></i>
                            <div class="row medium-up-3 tight transform-menu has-icon" data-equalizer data-equalize-by-row="true">
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/userurl_membrg2/livehosts/live-show-replays/">
                                        <i class="icon-v2 icon-replay-large"></i>
                                        Replays
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/userurl_membrg2/profile-surf/" title="Browse thousands of webcam model profiles; all live now!">
                                        <i class="icon-v2 icon-hotmodels-large"></i>
                                        Profile Surf
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch data-reveal-custom data-extra-args="pdisplaycontext=modal" data-protocol="iframe" href="/ifpage.dll?t=site/includes/select_host_by_region_modal&pappmode=quickbrowse&pclub=">
                                        <i class="icon-v2 icon-clubelitetext-small  float top left" title="Available for Elite members only."></i>
                                        <i class="icon-v2 icon-searchregion-large"></i>
                                        Models by Region
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/userurl_membrg2/elite-cam-viewer/all-cam-girls/" title="View dozens of Live Cams simultaneously">
                                        <i class="icon-v2 icon-clubelitetext-small float top left" title="Available for Elite members only."></i>
                                        <i class="icon-v2 icon-elitecamviewer-large"></i>
                                        EliteCam Viewer
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/userurl_membrg/hd-plus/">
                                        <i class="icon-v2 icon-hdplus-large"></i>
                                        HD Plus
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/userurl_membrg/archive/videos/">
                                        <i class="icon-v2 icon-media-large"></i>
                                        Videos & Photos
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/membrg/fchome_v2_custom.dll" title="Showcasing Fanclubs that offer the most, and whose webcam models are Live Right Now">
                                        <i class="icon-v2 icon-fanclub-large"></i>
                                        FanClubs
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/membrg2/livehosts_getcloser.dll?pf_vchpdsex=female&plooppagesize_allpapplivehosts=16" title="Call your favorite iFriends models.">
                                        <i class="icon-v2 icon-getcloser-large"></i>
                                        Phone Sex
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/userurl_membrg/award-winners/" title="Express your views with your fellow iFriends viewers and webcam models">
                                        <i class="icon-v2 icon-awardwinner-large"></i>
                                        Award Winners
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/membrg/twrp.dll?pappcode=twrp_activityfeed" onclick="Cookies.set('ActivityFeedClicked' , 'Y')">
                                        <i class="icon-v2 icon-activityfeed-large"></i>
                                        Activity Feed
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="callout tile" data-equalizer-watch href="http://www.ifriends.net/membrg/twrp.dll?pappcode=twrp_modelbirthdays">
                                        <i class="icon-v2 icon-birthday-large"></i>
                                        Birthdays
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>


                    </li>
                                        <li>

						<div id="headerSearchDefault" style="display: none;">Search Term</div>
						<div id="headerSearchError" style="display: none;">Please enter a search term</div>

                        <form id="frm-header-search" action="/membrg/msearch_v2_custom.dll?psource=SiteHeader_QuickSearch&pmode=msTab_LiveChats&pliveonlyfilter=OFF" style="width: 100%;min-width:160px;margin:0;margin-top: 5px;" class="float parent easy-autocomplete-custom">
                            <button type="submit" class="line-height-inherit input-icon mini" style="margin-top:0px;"><i class="icon-v2 icon-search-mini"></i></button>
                            <INPUT data-auto-complete="livehosts"  data-errortext="Please enter a search term" placeholder="Search iFriends" class="short" id="pKey" NAME="pkey" autocorrect="off" TYPE="TEXT" VALUE="" MAXLENGTH=128  >
                        </form>



                    </li>
                </ul>
        </div>
    </div>
</nav>
